<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:web="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
 id="WebApp_ID" version="2.5">
  <display-name>JFreeChartDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>com.java1234.web.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>authServlet</servlet-name>
    <servlet-class>com.java1234.web.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>authServlet</servlet-name>
    <url-pattern>/auth</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>roleServlet</servlet-name>
    <servlet-class>com.java1234.web.RoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>roleServlet</servlet-name>
    <url-pattern>/role</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SsServlet</servlet-name>
    <servlet-class>com.java1234.web.SsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SsServlet</servlet-name>
    <url-pattern>/ss</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NodeServlet</servlet-name>
    <servlet-class>com.java1234.web.NodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NodeServlet</servlet-name>
    <url-pattern>/node</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>areaServlet</servlet-name>
    <servlet-class>com.java1234.web.AreaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>areaServlet</servlet-name>
    <url-pattern>/area</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SsstyleServlet</servlet-name>
    <servlet-class>com.java1234.web.SsstyleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SsstyleServlet</servlet-name>
    <url-pattern>/ssstyle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayChart</servlet-name>
    <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>temper</servlet-name>
    <servlet-class>com.java1234.chart.temper</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>wind</servlet-name>
    <servlet-class>com.java1234.chart.wind</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>dampness</servlet-name>
    <servlet-class>com.java1234.chart.dampness</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>tem_gas</servlet-name>
    <servlet-class>com.java1234.chart.tem_gas</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>tem_water</servlet-name>
    <servlet-class>com.java1234.chart.tem_water</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>hum</servlet-name>
    <servlet-class>com.java1234.chart.hum</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>atmos</servlet-name>
    <servlet-class>com.java1234.chart.atmos</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>somke</servlet-name>
    <servlet-class>com.java1234.chart.somke</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>water_line</servlet-name>
    <servlet-class>com.java1234.chart.water_line</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>prec</servlet-name>
    <servlet-class>com.java1234.chart.prec</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>test</servlet-name>
    <servlet-class>com.java1234.chart.test</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>tem_gas1</servlet-name>
    <servlet-class>com.java1234.chart.tem_gas1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>tem_water1</servlet-name>
    <servlet-class>com.java1234.chart.tem_water1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>hum1</servlet-name>
    <servlet-class>com.java1234.chart.hum1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>atmos1</servlet-name>
    <servlet-class>com.java1234.chart.atmos1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>somke1</servlet-name>
    <servlet-class>com.java1234.chart.somke1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>water_line1</servlet-name>
    <servlet-class>com.java1234.chart.water_line1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>prec1</servlet-name>
    <servlet-class>com.java1234.chart.prec1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayChart</servlet-name>
    <url-pattern>/DisplayChart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>temper</servlet-name>
    <url-pattern>/temper</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>wind</servlet-name>
    <url-pattern>/wind</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dampness</servlet-name>
    <url-pattern>/dampness</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>tem_gas</servlet-name>
    <url-pattern>/tem_gas</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>tem_water</servlet-name>
    <url-pattern>/tem_water</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>hum</servlet-name>
    <url-pattern>/hum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>atmos</servlet-name>
    <url-pattern>/atmos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>somke</servlet-name>
    <url-pattern>/somke</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>prec</servlet-name>
    <url-pattern>/prec</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>water_line</servlet-name>
    <url-pattern>/water_line</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>tem_gas1</servlet-name>
    <url-pattern>/tem_gas1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>tem_water1</servlet-name>
    <url-pattern>/tem_water1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>hum1</servlet-name>
    <url-pattern>/hum1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>atmos1</servlet-name>
    <url-pattern>/atmos1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>somke1</servlet-name>
    <url-pattern>/somke1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>prec1</servlet-name>
    <url-pattern>/prec1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>water_line1</servlet-name>
    <url-pattern>/water_line1</url-pattern>
  </servlet-mapping>
</web-app>